.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logoContainer {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.header nav a {
  margin-left: 25px;
  text-decoration: none;
  color: #232323;
  font-weight: 500;
  transition: color 0.3s;
}

.header nav a:hover {
  color: #009393;
}